.header{
   
    padding: 30px 5px;

    &__nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__list{
        display: flex;
        gap: 40px;
        color: $blue-1 ;
    }
    &__form{
        display: flex;
    }
    &__input1{
        padding: 10px 5px 10px 10px;
        background-color: white;
        display: flex;
        align-items: center;
        border-radius: 30px;
        gap: 10px;
        input{
            border: none;
            width: 250px;
            outline: none;
        }
    }
      .blue__btn{
        padding: 10px 17px 10px 15px;
        background-color: $blue-1;
        color: $white-1;
        display: flex;
        align-items: center;
        border-radius: 30px;
        gap: 10px; 
        margin-left: 10px;
      }

    &__icon{
    display: none;
    }
}
#header__icon{
    display: none;
}

@media (max-width:1200px) {
    .container{
        width: 860px;
    }
    .header{
        &__list{
            display: none;
        }
        &__form{
            display: none;
        }
       &__select{
        display: none;
       }
       
    }
    .header__select {
        display: none;
    }
   

    #header__icon{
        display: block;
    }   
}



@media (max-width:870px) {
    .container{
        max-width: 560px;
    }
    .header{
        &__list{
            display: none;
        }
        &__form{
            display: none;
        }
       &__select{
        display: none;
       }
       
    }
    .header__select {
        display: none;
    }
   

    #header__icon{
        display: block;
    }   
}




@media (max-width:570px) {
    .container{
        max-width: 100%;
    }
    .header{
        &__list{
            display: none;
        }
        &__form{
            display: none;
        }
       &__select{
        display: none;
       }
       
    }
    .header__select {
        display: none;
    }
   

    #header__icon{
        display: block;
    }   
}