.wrapper {
  background-color:$yellow-1;
  #showcase {
    padding: 0;

    .container {
      display: flex;
      flex: 1;
      .portion {
        color: $blue-1;
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        .btnlar {
          display: flex;
          gap: 8px;
          margin-bottom: 5rem;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .wrapper {
    #showcase {
      .container {
        width: 860px;
        display: flex;
        flex-wrap: wrap;
        .portion {
          color: $blue-1;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}

@media (max-width: 870px) {
  .wrapper {
    #showcase {
      .container {
        max-width: 560px;
        display: flex;
        flex-wrap: wrap;
        .portion {
          color: $blue-1;
          width: 100%;
          
        }
      }
    }
  }
}

@media (max-width: 570px) {
   .wrapper {
     #showcase {
       .container {
         max-width: 100%;
         display: flex;
         flex-wrap: wrap;
         .portion {
           color: $blue-1;
           width: 100%;
           
         }
       }
     }
   }
 }
