
$white: #FDFDFD;
$white-1: #EBEEEF;
$white-2:#CCD1D2;
$white-3: #99A2A5; 
$white-4:  #667479;
$white-5:  #242B33;
$black: black;

$blue-1:#003459;
$blue-2:#0078CD;
$blue-3:#002A48;

$yellow-1:#FCEED5;
$yellow-2:#F7DBA7;
$yellow-3:#EEC77E;

$red:#FF564F;
$green: #34C759;
$orange:#FF912C;
$blue-sea:#00A7E7;

$lg:1200px;
$md:860px;
$md:580px
